<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            font-family: sans-serif;
        }

        .hello {
            font-size: 3em;
            color: #333;
            margin-bottom: 20px;
        }

        .bird img {
            height: 50vh;
        }
    </style>
</head>
<body>
    <div class="hello">Hello World</div>
    <div class="bird">
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTk4azFhb241eThiOHNlcmZ4aTBwbHhzanl5c2MwMmlmaG16YWtjdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEduRGfLnB7iLFfO0/giphy.gif" alt="Animated Bird Flying">
    </div>
</body>
</html>
