<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick rolled</title>
</head>
<body>
    <style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    iframe {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border: none;
        z-index: 9999;
    }
    </style>

    <iframe
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=0"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
    </iframe>

</html>